<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="./">Create</a>
    <a href="./update">Update</a>
    <a href="./view_all">Read</a>
    <a href="./delete">Delete</a>
</div>