
<!DOCTYPE html>
<html>
  <head>
      <title>Test Website</title>
      <style>
          ul {
              list-style-type: none;
          }

          ul li.unit {
              width: 80px;
          }

          body {
              font-family: "Lato", sans-serif;
          }

          .sidenav {
              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #111;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 60px;
          }

          .sidenav a {
              padding: 8px 8px 8px 32px;
              text-decoration: none;
              font-size: 25px;
              color: #818181;
              display: block;
              transition: 0.3s;
          }

          .sidenav a:hover {
              color: #f1f1f1;
          }

          .sidenav .closebtn {
              position: absolute;
              top: 0;
              right: 25px;
              font-size: 36px;
              margin-left: 50px;
          }

          @media screen and (max-height: 450px) {
              .sidenav {padding-top: 15px;}
              .sidenav a {font-size: 18px;}
          }
          input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.85px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 47px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 47px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 47px;
  background: #ffffff;
  cursor: pointer;
  height: 11.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

      </style>
  </head>
  <body>
      {% include "./template/nav.html" %}
      <h1>Create</h1>
      <h2>User</h2>
      <form action="/insert" method="post">
            <div class="slidecontainer">
                <input type="range" min="20000" max="200000" step="1000" value="20000" class="slider" id="amount" name="amount">
                <p>Value: <span id="demo"></span></p>
            </div>
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="fname">
          </div>
          <div>
              <label for="mname">Middle Name</label>
              <input type="text" id="mname" name="mname">
          </div>
          <div>
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lname">
          </div>
          <h2>Address</h2>
          <div>
              <label for="unit">Unit No. / Floor</label>
              <input type="text" id="unit" name="unit">
          </div>
          <div>
              <label for="street">Street</label>
              <input type="text" id="street" name="street">
          </div>
          <div>
              <label for="brangy">Barangay</label>
              <input type="text" id="brangy" name="brangy">
          </div>
          <div>
              <label for="city">City</label>
              <input type="text" id="city" name="city">
          </div>
          <div>
              <input type="submit" value="Add">
          </div>
      </form>
  </body>

<script>
    var slider = document.getElementById("amount");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
</html>