<html>
<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
        
        .toggle-button {
            margin: 5px 0; border-radius: 20px; border: 2px solid #D0D0D0; height: 24px; cursor: pointer; width: 50px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none;
        }

        .toggle-button span {
            position: absolute; left: 0; top: 0; border-radius: 100%; width: 26px; height: 26px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0; transition: left 0.3s;
        }

        .toggle-button-selected {
            background-color: #83B152; border: 2px solid #7DA652;
        }

        .toggle-button-selected span {
            left: 26px; top: 0; margin: 0; border: none; width: 24px; height: 24px; box-shadow: 0 0 4px rgba(0,0,0,0.1);
        }

        .center {
            text-align:center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        {# $(document).on('click', '.toggle-button', function() {
            $(this).toggleClass('toggle-button-selected'); 
        }); #}
    </script>
</head>
    <body>
        {% include "template/nav.html" %}       
        <h1>Delete</h1>
        <table  id="customers">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Unit No.</th>
                <th>Street</th>
                <th>Barangay</th>
                <th>City</th>
                <th>Active</th>
            </tr>
            {% for key, user in userMap %}    
                <form  action="/delete" method="post">
                    <tr>
                        <input id="userId" name="userId" type="hidden" value="{{ user._id }}">
                        <td>{{ user.fname }}</td>
                        <td>{{ user.mname }}</td>
                        <td>{{ user.lname }}</td>
                        <td>{{ user.unit }}</td>
                        <td>{{ user.street }}</td>
                        <td>{{ user.brangy }}</td>
                        <td>{{ user.city }}</td>
                        <td><input type="submit" id="active" name="active" value="{{ user.active }}"></td>
                    </tr>
                </form>
            {% endfor %}      
        </table>
    </body>
</html>