<html>
<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }

        .edit-input {
            display:none;
        }
        .edit-input {
            display:none;
        }
        
    </style>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
    <body>
        {% include "template/nav.html" %}
        <h1>Update</h1>
        <table  id="customers">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Unit No.</th>
                <th>Street</th>
                <th>Barangay</th>
                <th>City</th>
                <th>Active</th>
            </tr>
        
        {% for key, user in userMap %}    
        <form action="/update_process" method="post">
            <tr>
                <input id="userId" name="userId" type="hidden" value="{{ user._id }}">
                <td><input type="text" id="fname" name="fname" value="{{ user.fname }}"></td>
                <td><input type="text" id="mname" name="mname" value="{{ user.mname }}"></td>
                <td><input type="text" id="lname" name="lname" value="{{ user.lname }}"></td>
                <td><input type="text" id="unit" name="unit" value="{{ user.unit }}"></td>
                <td><input type="text" id="street" name="street" value="{{ user.street }}"></td>
                <td><input type="text" id="brangy" name="brangy" value="{{ user.brangy }}"></td>
                <td><input type="text" id="city" name="city" value="{{ user.city }}"></td>
                <td>{{ user.active }}</td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </form> 
        {% endfor %}

        </table>
                 
    </body>
</html>