<html>
<head>
    <style>
         #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
    </style>
</head>
    <body>
        {% include "template/nav.html" %}
        <h1>Read</h1>
        <table  id="customers">
            <tr>
                <th>Amount</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Unit No.</th>
                <th>Street</th>
                <th>Barangay</th>
                <th>City</th>
            </tr>

        {% for key, user in userMap %}    

            <tr> 
                <td>{{ user.amount }}</td>
                <td>{{ user.fname }}</td>
                <td>{{ user.mname }}</td>
                <td>{{ user.lname }}</td>
                <td>{{ user.unit }}</td>
                <td>{{ user.street }}</td>
                <td>{{ user.brangy }}</td>
                <td>{{ user.city }}</td>
            </tr>

        {% endfor %}

        </table>
    </body>
</html>